# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python

# =========================
# Virtualenv
# =========================
venv/
ENV/
env/
.venv/
.python-version

# =========================
# Django
# =========================
# Arquivos de migrações compiladas
*/migrations/__pycache__/
*/migrations/*.pyc
# Se quiser ignorar todas as migrações (cuidado se for colaborativo)
# */migrations/*.py

# Arquivos de mídia e estáticos gerados
media/
staticfiles/
static/

# =========================
# Banco de dados local (SQLite)
# =========================
*.sqlite3

# =========================
# Config / Segredos
# =========================
.env
.env.*

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.bak

# =========================
# Logs
# =========================
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.pid
*.seed
*.cover
*.coverage
.coverage.*
htmlcov/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db
*.tgz
*.gz

# =========================
# Docker
# =========================
# Volumes persistentes
postgres_data/
pgadmin_data/
# Arquivos temporários
*.pid
